.contacts {
  padding: 100px 0 60px;

  @media (max-width: 600px) {
    padding: 60px 0 40px;
  }


  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @media (max-width: 1110px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }

    @media (max-width: 725px) {
      justify-content: flex-start;

    }

  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    & img {
      @media (max-width: 425px) {
        width: 60px;
        height: 60px;
      }

    }
  }

  &__item-title {
    margin: 0;

    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.2px;

    & a {
      color: var(--dark);
      transition: all .2s ease-in-out;

      &:hover {
        color: var(--accent);
      }
    }
  }

}