.dishes {
  padding: 140px 0 62px;

  @media (max-width: 670px) {
    padding-top: 60px;

  }


  &__box {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1370px) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__card {
    max-width: 665px;
    padding: 40px;
    background: url('../img/dishes-bg_01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--dark {
      background: url('../img/dishes-bg_02.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (max-width: 400px) {
      padding: 20px;
    }
  }


  &__card-info {}

  &__card-price {
    color: var(--dark);
    font-size: 48px;
    line-height: 66px;
    letter-spacing: 0.2px;
    padding-left: 25px;
    position: relative;
    padding-bottom: 40px;
    padding-top: 30px;


    &::after {
      content: '';
      position: absolute;
      left: -12px;
      top: 10px;
      background: url('../img/light_price.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 160px;
      height: 100px;
    }


    & span {
      display: block;
      text-transform: uppercase;
      font-family: var(--josefin);
      font-size: 15px;
      line-height: 10.5px;
      letter-spacing: 0.15px;
      position: relative;
      z-index: 40;
    }

    &--n {
      transform: translate(3px, -18%);
      position: relative;
      z-index: 40;
    }

    &--dark {
      color: var(--light);

      &::after {

        background: url('../img/dark_price.svg');

      }
    }
  }

  &__card-badge {
    border-color: var(--dark);
    margin-bottom: 20px;

  }

  &__card-title {
    color: var(--dark);
    text-align: left;
    padding-bottom: 10px;

  }

  &__card-img {
    @media (max-width: 670px) {
      width: 180px;
      height: 130px;
      position: absolute;
      right: 45px;
      top: 65px;
    }

    @media (max-width: 480px) {
      width: 140px;
      height: 100px;
      position: absolute;
      right: 45px;
      top: 50px;
    }

    @media (max-width: 400px) {
      width: 140px;
      height: 100px;
      position: absolute;
      right: 25px;
      top: 30px;
    }

    @media (max-width: 350px) {
      width: 140px;
      height: 100px;
      position: absolute;
      right: 0px;
      top: 30px;
    }

    @media (max-width: 330px) {
      width: 100px;
      height: 70px;
      position: absolute;
      right: 20px;
      top: 45px;
    }
  }
}