<section class='blog' id="blog">
  <div class='container'>
    <div class="blog__header">
      <div class="bage offers__bage">Blog</div>
      <h2 class="title title--dark">Be First Who Read News</h2>
      <p class="description description--dark offers__description">
        Explore the latest stories about our dishes, offers, events and future plans here.
      </p>
    </div>

    <div class="blog__box">
      <div class="blog__card">

        <div class="blog__card-img">
          <div class="blog__overlay"> </div>
          <img src="img/blog_01.png" alt="dishes">
          <a href="" class="btn btn-reset">View More</a>

        </div>

        <div class="blog__card-info">
          <div class="blog__card-badges">
            <span class="bage">delicious</span>
            <span class="bage">march 19, 2022</span>
          </div>

          <h3 class="blog__card-title">The Legend of US Cuisine: The Story of Hungry People</h3>

          <p class="description description--dark">
            Capitalize on low-hanging fruit to identify a ballpark value added matrix economically and the creative
            activity to beta test override the food quality.
          </p>


        </div>
      </div>


      <div class="blog__card">
        <div class="blog__card-img">
          <div class="blog__overlay"> </div>
          <img src="img/blog_02.png" alt="dishes">
          <a href="" class="btn btn-reset">View More</a>
        </div>

        <div class="blog__card-info">
          <div class="blog__card-badges">
            <span class="bage">Cooking</span>
            <span class="bage">march 19, 2022</span>
          </div>

          <h3 class="blog__card-title">The Most Popular Delicious Food of Mediterranean Cuisine</h3>

          <p class="description description--dark">
            Strategies on low-hanging fruit to identify a ballpark value added matrix economically and the creative
            activity to beta test override the food quality.
          </p>
        </div>


      </div>
    </div>
  </div>
</section>