<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__item">
      <img src="img/contacts_01.svg" alt="Location">
      <div>
        <h4 class="contacts__item-title">Locate Us</h4>
        <span class="contacts__item-caption description description--dark">Riverside 25, San Diego, California</span>
      </div>
    </div>
    <div class="contacts__item">
      <img src="img/contacts_02.svg" alt="Location">
      <div>
        <h4 class="contacts__item-title">Open Hours</h4>
        <span class="contacts__item-caption description description--dark">Mon To Fri 9:00 AM - 9:00 PM</span>
      </div>
    </div>
    <div class="contacts__item">
      <img src="img/contacts_03.svg" alt="Location">
      <div>
        <h4 class="contacts__item-title">Reservation</h4>
        <span class="contacts__item-caption description description--dark">restaurantate@gmail.com</span>
      </div>
    </div>
  </div>
</section>