<section class='dishes'>
  <div class='container offers__container'>
    <div class="bage offers__bage">offers</div>
    <h2 class="title title--dark">Our Offer dishes</h2>
    <p class="description description--dark offers__description">
      Our chefs create melt-in-your-mouth dishes that'll satiate even the fussiest eaters now
      the dishes are in offers use it based on hunger.
    </p>

    <div class="dishes__box">
      <div class="dishes__card dishes__card--light">
        <div class="dishes__card-info">
          <div class="dishes__card-price"><span>only</span>
            <div class="dishes__card-price--n">$10</div>
          </div>

          <div class="dishes__card-badge bage">
            50% Offer Going
          </div>

          <h3 class="dishes__card-title title">Chicken Burger</h3>

          <span class="description description--dark">Chicken burger with the tasty toppings and leaves.</span>

        </div>
        <img src="img/dishes_01.png" alt="burger" class="dishes__card-img">

      </div>

      <div class="dishes__card dishes__card--dark">
        <div class="dishes__card-info">
          <div class="dishes__card-price dishes__card-price--dark">
            <span>only</span>
            <div class="dishes__card-price--n">$9</div>
          </div>

          <div class="dishes__card-badge bage">
            50% Offer Going
          </div>

          <h3 class="dishes__card-title title">Chicken Pizza</h3>

          <span class="description description--dark">Pizza with multiple flavor and the toping are mixed.</span>

        </div>
        <img src="img/dishes_02.png" alt="burger" class="dishes__card-img">

      </div>
    </div>
  </div>
</section>