<header class="header" id="header">
  <div class="container header__container">
    <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
    <div class="header__top">
      <a href="tel:123456789" class=" header__btn--light btn btn-reset btn--ghost">Call - 123 456 789</a>

      <div class="header__logo logo">
        <a href="index.html">
          <img src="img/logo.svg" alt="LOGO">
        </a>
      </div>

      <a href="#" class="btn header__btn--big btn-reset">Reservation</a>
    </div>


    <div class="header__bot">

      <nav class="nav header__nav" data-menu>
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="header" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="story" class="nav__link">About Us</a></li>
          <li class="nav__item"><a href="menu" class="nav__link">Our Menu</a></li>
          <li class="nav__item"><a href="dishes" class="nav__link">Pages</a></li>
          <li class="nav__item"><a href="blog" class="nav__link">Blog</a></li>
          <li class="nav__item"><a href="contacts" class="nav__link">Contact Us</a></li>
        </ul>
      </nav>

      <div class="header__social">
        <ul class="header__social-list list-reset">
          <li class="header__social-item">
            <a href="#" class="header__social-link"><svg class="">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg></a>
          </li>

          <li class="header__social-item">
            <a href="#" class="header__social-link"><svg class="">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg></a>
          </li>

          <li class="header__social-item">
            <a href="#" class="header__social-link"><svg class="">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg></a>
          </li>

          <li class="header__social-item">
            <a href="#" class="header__social-link"><svg class="">
                <use xlink:href="img/sprite.svg#pain"></use>
              </svg></a>
          </li>
        </ul>
      </div>
    </div>




  </div>


</header>