<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <h1 class="hero__title">Welcome to Restaurant</h1>
      <p class="description hero__description">
        The people, food and the prime locations make the perfect place good friends & family to come together and have
        great time.
      </p>

      <a href="#" class="btn btn-reset btn--ghost">View Menu</a>
    </div>

    <div class="hero__right">
      <img src="img/hero.svg" alt="Beautiful view">
    </div>
  </div>
</section>