<section class='menu'>
  <div class='container menu__container'>

    <div class="menu__left">
      <div class="bage">Menu</div>
      <h2 class="title title--dark">Try Our Special dishes</h2>

      <p class="description description--dark">
        Every time you perfectly dine with us, it should happy for great inspired food in an environment designed with
        individual touches unique to the local area.
      </p>

      <img src="img/menu_main.png" alt="Dishes">

      <a href="#" class="btn btn-reset btn--ghost">See all dishes</a>
    </div>


    <div class="menu__right">
      <h3 class="menu__list-title title title--dark">Starters</h3>
      <ul class="menu__list list-reset">
        <li class="menu__item">
          <img src="img/menu_dishes_01.svg" alt="dishes">

          <div class="menu__right-text">
            <h3 class="menu__item-title title title--dark">Raw Scallops from Erquy</h3>

            <div class="menu__item-price">
              <span class="description description--dark">Shuck the scallop to that used for oysters</span>
              <span class="menu__item-line"></span>
              <h3 class="title title--dark">$40</h3>
            </div>
          </div>
        </li>

        <li class="menu__item">
          <img src="img/menu_dishes_02.svg" alt="dishes">

          <div class="menu__right-text">
            <h3 class="menu__item-title title title--dark">Spring Roll</h3>

            <div class="menu__item-price">
              <span class="description description--dark">Add oil to a hot pan spring onion whites</span>
              <span class="menu__item-line"></span>
              <h3 class="title title--dark">$20</h3>
            </div>
          </div>
        </li>

        <li class="menu__item">
          <img src="img/menu_dishes_03.svg" alt="dishes">
          <div class="menu__right-text">
            <h3 class="menu__item-title title title--dark">French Onion Soup</h3>

            <div class="menu__item-price">
              <span class="description description--dark">Wheat flour, apple cider vinegar, bread</span>
              <span class="menu__item-line"></span>
              <h3 class="title title--dark">$25</h3>
            </div>
          </div>
        </li>

        <li class="menu__item">
          <img src="img/menu_dishes_04.svg" alt="dishes">

          <div class="menu__right-text">
            <h3 class="menu__item-title title title--dark">Tomato Bruschetta</h3>

            <div class="menu__item-price">
              <span class="description description--dark">Bread, olive oil, garlic, black pepper</span>
              <span class="menu__item-line"></span>
              <h3 class="title title--dark">$30</h3>
            </div>
          </div>
        </li>


      </ul>

      <h3 class="menu__list-title title title--dark">Main Dish</h3>
      <ul class="menu__list list-reset">
        <li class="menu__item">
          <img src="img/menu_dishes_05.svg" alt="dishes">

          <div class="menu__right-text">
            <h3 class="menu__item-title title title--dark">Grilled Salmon with Dill Sauce</h3>

            <div class="menu__item-price">
              <span class="description description--dark">Brown sugar, salmon fillet, Dijon mustard</span>
              <span class="menu__item-line"></span>
              <h3 class="title title--dark">$40</h3>
            </div>
          </div>
        </li>

        <li class="menu__item">
          <img src="img/menu_dishes_06.svg" alt="dishes">

          <div class="menu__right-text">
            <h3 class="menu__item-title title title--dark">Roast Beef with Vegetable</h3>

            <div class="menu__item-price">
              <span class="description description--dark">Green beans, rib eye, olive oil, beef</span>
              <span class="menu__item-line"></span>
              <h3 class="title title--dark">$20</h3>
            </div>
          </div>
        </li>

        <li class="menu__item">
          <img src="img/menu_dishes_07.svg" alt="dishes">

          <div class="menu__right-text">
            <h3 class="menu__item-title title title--dark">Marrkesh Vegetetarian Curruy</h3>

            <div class="menu__item-price">
              <span class="description description--dark">Sweet potato, eggplant, garbanzo bean</span>
              <span class="menu__item-line"></span>
              <h3 class="title title--dark">$25</h3>
            </div>
          </div>
        </li>

        <li class="menu__item">
          <img src="img/menu_dishes_08.svg" alt="dishes">

          <div class="menu__right-text">
            <h3 class="menu__item-title title title--dark">Spicy Vegan Potato Curry</h3>

            <div class="menu__item-price">
              <span class="description description--dark">Coconut milk, beans, potatoes, curry powder</span>
              <span class="menu__item-line"></span>
              <h3 class="title title--dark">$35</h3>
            </div>
          </div>
        </li>


      </ul>

      <h3 class="menu__list-title title title--dark">Dessert</h3>
      <ul class="menu__list list-reset">
        <li class="menu__item">
          <img src="img/menu_dishes_09.svg" alt="dishes">

          <div class="menu__right-text">
            <h3 class="menu__item-title title title--dark">Apple Pie with Cream</h3>

            <div class="menu__item-price">
              <span class="description description--dark">Whipping cream, egg white, cinnamon</span>
              <span class="menu__item-line"></span>
              <h3 class="title title--dark">$15</h3>
            </div>
          </div>
        </li>

        <li class="menu__item">
          <img src="img/menu_dishes_10.svg" alt="dishes">

          <div class="menu__right-text">
            <h3 class="menu__item-title title title--dark">Lemon Meringue Pie</h3>

            <div class="menu__item-price">
              <span class="description description--dark">Frozen pie crust, meringue, lemon</span>
              <span class="menu__item-line"></span>
              <h3 class="title title--dark">$30</h3>
            </div>
          </div>
        </li>



      </ul>

    </div>
  </div>
</section>