<section class='offers'>
  <div class='container offers__container'>

    <div class="bage offers__bage">menu</div>
    <h2 class="title title--dark">Popular Dishes</h2>
    <p class="description description--dark offers__description">
      There is a game between the waiters in restaurant to see who serves the food to each table fastest. That led to
      attempting the Guinness Record.
    </p>

    <div class="offers__box">
      <div class="offers__card">
        <img src="img/offers_01.png" alt="dishes">

        <div class="offers__card-pricebox">
          <span class="offers__card-title">Chicken Manjoori</span>
          <span class="offers__card-price">$15</span>
        </div>

        <p class="description description--dark">Dish relished by all age groups as a starter dish at parties.</p>
      </div>

      <div class="offers__card">
        <img src="img/offers_02.png" alt="dishes">

        <div class="offers__card-pricebox">
          <span class="offers__card-title">Hotdog</span>
          <span class="offers__card-price">$10</span>
        </div>

        <p class="description description--dark">Grilled sausage served in the slit of a partially sliced bun.</p>
      </div>

      <div class="offers__card">
        <img src="img/offers_03.png" alt="dishes">

        <div class="offers__card-pricebox">
          <span class="offers__card-title">Fresh Salmon</span>
          <span class="offers__card-price">$5</span>
        </div>

        <p class="description description--dark">Beat the health blues with our Super Immune Blue Juice Recipe.</p>
      </div>

      <div class="offers__card">
        <img src="img/offers_04.png" alt="dishes">

        <div class="offers__card-pricebox">
          <span class="offers__card-title">Veg Burger</span>
          <span class="offers__card-price">$10</span>
        </div>

        <p class="description description--dark">Burgers may be made from ingredients like beans.</p>
      </div>
    </div>

    <a href="#" class="btn btn-reset btn--ghost">See all dishes</a>
  </div>
</section>