<section class='reservation'>
  <div class='container reservation__container'>
    <span class="bage reservation__badge">reservation</span>

    <h2 class="title reservation__title">Book Your Table</h2>

    <form action="#" class="form reservation__form">
      <div class="form__field form__field--big">
        <input class="input-reset input input--large" type="text" name="Name" id="" placeholder="Name">
        <input class="input-reset input input--large" type="email" name="Email" id="" placeholder="Email">
      </div>
      <div class="form__field form__field--small">
        <input class="input-reset input " type="text" name="Persons" id="" placeholder="Persons">
        <input class="input-reset input " type="text" name="Timing" id="" placeholder="Timing">
        <input class="input-reset input " type="text" name="Date" id="" placeholder="Date">
      </div>

      <button class="btn btn-reset btn--light">Book A Table</button>
    </form>
  </div>
</section>