<section class='reviews'>
  <div class='container reviews__container'>
    <div class="reviews__bage bage">Testimonial</div>

    <h2 class="title">our clients say</h2>
    <span class="description reviews__description">We love to hear from customers, so please leave a comment or say
      hello in an email.</span>


    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__slide ">

          <div class="reviews__slide-user user">
            <img class="user__avatar" src="img/avatar_01.svg" alt="avatar">
            <div class="user__info">
              <span class="user__name">Natasha D</span>
              <span class="user__city">Newyork</span>
            </div>
          </div>

          <p class="description">They known for its fabulous taste and food. Anywhere you go your hunger is satisfied.
            The best chicken & burgers those are yummy.</p>
        </div>

        <div class="swiper-slide reviews__slide ">

          <div class="reviews__slide-user user">
            <img class="user__avatar" src="img/avatar_02.svg" alt="avatar">
            <div class="user__info">
              <span class="user__name">Jack Sparrow</span>
              <span class="user__city">Salt Lake City</span>
            </div>
          </div>

          <p class="description">I have visited this fantastic restaurant on several occasions, food is absolutely
            outstanding & attention to detail is in league of its own.</p>
        </div>

        <div class="swiper-slide reviews__slide ">

          <div class="reviews__slide-user user">
            <img class="user__avatar" src="img/avatar_03.svg" alt="avatar">
            <div class="user__info">
              <span class="user__name">Martin</span>
              <span class="user__city">San Diego</span>
            </div>
          </div>

          <p class="description">Perfectly known for its fabulous taste and food. Anywhere your hunger is satisfied.
            They give best fried chicken and burgers those are yummy.</p>
        </div>

        <div class="swiper-slide reviews__slide ">

          <div class="reviews__slide-user user">
            <img class="user__avatar" src="img/avatar_01.svg" alt="avatar">
            <div class="user__info">
              <span class="user__name">Natasha D</span>
              <span class="user__city">Newyork</span>
            </div>
          </div>

          <p class="description">They known for its fabulous taste and food. Anywhere you go your hunger is satisfied.
            The best chicken & burgers those are yummy.</p>
        </div>

        <div class="swiper-slide reviews__slide ">

          <div class="reviews__slide-user user">
            <img class="user__avatar" src="img/avatar_02.svg" alt="avatar">
            <div class="user__info">
              <span class="user__name">Jack Sparrow</span>
              <span class="user__city">Salt Lake City</span>
            </div>
          </div>

          <p class="description">I have visited this fantastic restaurant on several occasions, food is absolutely
            outstanding & attention to detail is in league of its own.</p>
        </div>





      </div>

    </div>
    <div class="swiper-pagination pagination"></div>
  </div>
</section>