<section class='services'>
  <div class='container services__container'>

    <div class="services__info">
      <div class="bage services__badge">what we offer</div>

      <h2 class="title services__title">Our Great Services</h2>

      <p class="services__description description ">The atmosphere set the stage. It’s about more than just a dining
        room away from
        your home. food takes the spotlight as guests.</p>
    </div>

    <div class="services__box">
      <div class="services__card">
        <img src="img/svg/services_01.svg" alt="decoraton">

        <span>Opened 24/7</span>
      </div>

      <div class="services__card">
        <img src="img/svg/services_02.svg" alt="decoraton">

        <span>Special Menus</span>
      </div>

      <div class="services__card">
        <img src="img/svg/services_03.svg" alt="decoraton">

        <span>Home Delivery</span>
      </div>
    </div>
  </div>
</section>