<section class='story'>
  <div class='container story__container'>
    <img class="story__img" src="img/contacts.png" alt="restaurant">

    <div class="story__content">
      <h2 class="title title--dark">The Delicious Story</h2>

      <p class="description description--dark">
        The people, food and the prime locations make the perfect place for the friends & family to come together and
        have great time.
      </p>

      <div class="story__plans">
        <div class="story__plans-item">
          <h2 class="title title--dark">2018</h2>
          <span class="description description--dark">Plan for this restaurant to deliver healthy food.</span>
        </div>

        <div class="story__plans-item">
          <h2 class="title title--dark">2022</h2>
          <span class="description description--dark">Happily in the fourth year by fulfill the motto.</span>
        </div>
      </div>

      <span class="story__name">Josefine</span>

      <img class="story__sign" src="img/sign.svg" />

    </div>
  </div>
</section>