html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  font-size: 16px;
}

.main-content {
  flex: 1 0 auto;
}


img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}




.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: var(--light);

  &--dark {
    color: var(--dark);
  }

  @include tablet {
    text-align: center;
  }

  @include mobile {
    font-size: 26px;
    line-height: 26px;
  }
}

.btn {
  padding: 20px 57px;
  background-color: var(--accent);
  color: var(--dark);
  transition: all .25s ease-in-out;
  border: none;
  font-family: var(--josefin);
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.44px;

  @media (max-width: 1024px) {
    padding: 20px 36px;
  }

  @media (max-width: 900px) {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 14px;
  }

  &:hover {
    background-color: rgba(#e1b168, 0.6);
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);

    &:hover {
      background-color: var(--accent);
      color: var(--dark);
    }
  }

}

.logo {
  transition: all .25s ease-in-out;

  &:hover {
    opacity: .7;
  }

  @include small-tablet {
    flex: 1 1 100%;
  }

  @include mobile {
    max-width: 290px;
  }

  & img {
    display: block;
    margin: 0 auto;

  }

}

.description {
  margin: 0;
  color: var(--light);
  font-family: var(--josefin);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;

  &--dark {
    color: var(--dark-text);
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }

}